{
  "singleQuote": false,
  "semi": true,
  "trailingComma": "all",

  "printWidth": 120,
  "tabWidth": 3,

  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@workspace/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
